<main role="main">

  <div class="container-fluid">
    <asd-section-grid [title]="'Favorites'"
                      [title_icon]="'star'"
                      [title_icon_color]="'orange'"
                      [background]="'rgba(255, 255, 0, 0.05)'"
                      [mode]="'favorites'"
    ></asd-section-grid>
    <asd-section-grid [title]="'Online'"
                      [title_icon]="'toggle-on'"
                      [title_icon_color]="'green'"
                      [mode]="'online'"
    ></asd-section-grid>
    <asd-section-grid [title]="'Offline'"
                      [title_icon]="'toggle-off'"
                      [title_icon_color]="'red'"
                      [mode]="'offline'"
    ></asd-section-grid>
  </div>


</main>
