<main role="main">
  <div *ngIf="(pingItems$ | async).length > 0" class="container-fluid">
    <asd-section-grid *ngIf="(pingItemsFavorite$ | async).length > 0"
                      [title]="'Favorites'"
                      [title_icon]="'star'"
                      [title_icon_color]="'orange'"
                      [background]="'rgba(255, 255, 0, 0.1)'"
                      [pingItems]="pingItemsFavorite$ | async"
    ></asd-section-grid>
    <asd-section-grid *ngIf="(pingItemsOnline$ | async).length > 0"
                      [title]="'Online'"
                      [title_icon]="'toggle-on'"
                      [title_icon_color]="'green'"
                      [pingItems]="pingItemsOnline$ | async"
    ></asd-section-grid>
    <asd-section-grid *ngIf="(pingItemsOffline$ | async).length > 0"
                      [title]="'Offline'"
                      [title_icon]="'toggle-off'"
                      [title_icon_color]="'red'"
                      [pingItems]="pingItemsOffline$ | async"
    ></asd-section-grid>
    <asd-section-grid *ngIf="(pingItemsPending$ | async).length > 0"
                      [title]="'Pending'"
                      [title_icon]="''"
                      [title_icon_color]="'grey'"
                      [pingItems]="pingItemsPending$ | async"
    ></asd-section-grid>
  </div>
  <div *ngIf="(pingItems$ | async).length <= 0" class="container-fluid">
    <div class="jumbotron">
      <p class="lead">Welcome to your services monitor dashboard, where you can monitor the online availability of your services.</p>
      <hr class="my-4">
      <p>To get started please add your first URL</p>
      <p class="lead">
        <asd-add-edit-url-form></asd-add-edit-url-form>
      </p>
    </div>
  </div>
</main>
