<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New URL</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="pingForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" class="form-control" id="title" placeholder="Enter title (required)">
        <small *ngIf="1 === 2" id="t" class="form-text text-muted">We'll never share your email with anyone else.
        </small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input formControlName="description" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Enter description">
        <small *ngIf="1 === 2" id="d" class="form-text text-muted">We'll never share your email with anyone else.
        </small>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input  formControlName="url" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Enter URL (required)">
        <small *ngIf="1 === 2" id="u" class="form-text text-muted">We'll never share your email with anyone else.
        </small>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="pingForm.pristine" type="submit" class="btn btn-primary float-right">Add URL</button>
    </div>
  </form>
</ng-template>
<a id="mainbtn" class="btn btn-info" (click)="open(content)">Add New URL</a>
