<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    Services Monitor Dashboard
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarsExample09">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-cog"> Config</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-github"></i> Github</a>
      </li>
    </ul>
  </div>
</nav>
